.container{
    background-color: aqua;
    display: grid;
    grid-template-columns: 200px 200px 200px auto ;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    gap: 50px;
}
.container>div{
    display: grid;
    background-color: blue;
    height: 50px;
    width: 200px;
    justify-content:center;
    align-content: center;
}
.container>p{
    background-color: antiquewhite;
    color: crimson;
    height: 50px;
}
.container>div>p{
    height: 100px;
    width: 200px;
    color: orangered;
}